@media screen and (max-width:576px) {
    .container{
        margin: 1rem auto;
    }    
    .nav-option{
        display: none;
    }
    .ham-burger{
        display: block;
    }
    .ham-burger{
        font-size: 24px;
    }
    .banner-container{
        flex-direction: column;
        padding: auto;
        gap: 1rem;
    }
    .banner-content{
        width: 100%;
    }
    .card-1 {
        top: 40%;
        right: 50%;
    }
    .card-2{
        top: 10%;
        left: 55%;
    }
    .habit-box-content{
        grid-template-columns: 1fr;
    }
}