@media screen and (max-width:576px) {
    .container{
        margin: 1rem auto;
    } 
    br{
        display: none;
    }  
    /* navigation responsive*/ 
    .nav-bar{
        margin: 0 2rem 2rem 2rem;
    }
    .nav-option{
        display: none;
    }
    .nav-title{
        padding-left: 0;
    }
    .ham-burger{
        display: block;
    }
    .ham-burger{
        font-size: 24px;
    }
    /* banner responsive*/
    .banner-container{
        flex-direction: column;
        gap: 1rem;
    }
    .banner-content{
        width: 100%;
    }
    .card-1 {
        top: 40%;
        right: 50%;
    }
    .card-2{
        top: 10%;
        left: 55%;
    }
    /* habit responsive*/
    .habit-box-content{
        grid-template-columns: 1fr;
    }
    .habit-container h1{
        text-align: center;
    }
    .habit-container p{
        width: 100%;
    }
    /* run an extra responsive  */
    .run-container{
        flex-direction: column;
        padding: 10px;
        gap: 1rem;
    }
    .run-content{
        width: 80%;
    }
    .btn-primary-4{
        width: 100%;
    }
    .run-img img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    } 
    /* Bmi calculator responsive */   
    .bmi-content{
        width: 80%;
    }
    .bmi-container{
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }
    .bmi-chart{
        width: 70%;
        padding: 40px;
    }
    .bmi-calculator{
        width: 80%;
    }
    /* Meet our team responsive  */
    .trainer-container{
        grid-template-columns: 1fr;
    }
    /* Footer responsive  */
    .footer-content{
        flex-direction: column;
        align-items: start;
    }
    .footer-link{
        flex-direction: column;
    }
    .footer-logo{
        width: 100%;
    }
}