@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* default style  */
*{
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
/* header style */
header{
    background-image: linear-gradient(189deg, rgb(17, 17, 17),rgba(118, 116, 116, 0.1) 100%);
}
/* navigation style start */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem 0 6rem;
    padding-top: 20px;
}
.nav-title{
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    cursor: pointer;
    padding-left: 80px;
    font-style: italic;
}
.nav-option{
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    color: white;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}
.btn-primary{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.ham-burger{
    display: none;
    color: white;
}
/* banner style  */
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    padding: 20px;
}
.banner-content{
    width: 40%;
    color: white;
}
.span{
    font-family: 'Miama', sans-serif;
    font-style: italic; 
}
.banner-content h1{
    font-size: 4.85rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 40px;
}
.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.btn-primary-2{
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-3{
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255);
    background-color: black;
    cursor: pointer;
}
.banner-img{
    position: relative;
}
.card-1 h3{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.card-1 p{
    color: rgba(239, 237, 232, 0.65);
}
.card-2 h3{
    font-size: 2.5rem;
    font-weight: 900;
}
.card-2 p{
    font-size: 0.8rem;
    color: rgba(239, 237, 232, 0.65);
}
.card-1{
    padding: 20px;
    padding-left: 70px;
    width: 200px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 70%;
    right: 70%;
}
.circle {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 8%;
}
.fa-play{
    position: absolute;
    top: 30%;
    right: 35%;
}
.card-2{
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 20%;
    left: 65%;
}
/* habit style   */
.habit-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-container h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.habit-container p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    width: 50%;
    text-align: center;

}
.habit-box-content{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    justify-items: center;
}
.habit-box{
    width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.habit-box img{
    border-radius: 50%;
    margin-bottom: 30px;
}
.habit-box p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    width: 100%;
}
/* run an extra style  */
.run-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 30px;
}
.run-content{
    width: 40%;
    color: white;
}
.run-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.run-content p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}
.btn-primary-4{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.run-img img{
    width: 450px;
    height: 350px;
    border-radius: 20px;
    object-fit: none;
    object-position:70% 33%;
}
/* Bmi calculator style  */
.bmi-content{
    width: 50%;
    margin: 0 auto;
    color: white;
    margin-bottom: 80px;
}
.bmi-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.bmi-content p{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-container{
    color: white;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-bottom: 80px;
}
.bmi-chart {
    text-align: center;
}
.bmi-chart h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}
.bmi-chart table {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-collapse: collapse;
}
.bmi-chart th{
    padding: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 500;
}
.bmi-chart td {
    padding: 15px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
}
.bmi-calculator {
    padding: 20px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: start;
}
.bmi-calculator h1 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.bmi-calculator p {
    font-size: .8rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-calculator form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-section input,
.input-section select,
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(85, 85, 85);
    color: white;
    font-size: .9rem;
    margin-left: 5px;
}
.btn-primary-5{
    width: 224px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
/* Meet our team style  */
.team-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-container h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.team-container p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}
.trainer-container{
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-areas: "a b c" "d e f";
    gap: 10px;
}
.trainers{
    position: relative;
}
.trainer img{
    width: 300px;
    height: 272px;
    border-radius: 18px;
    position: relative;
    background: rgba(0, 0, 0, 0.2)
}
.trainer-details h3{
    font-size: 1rem;
    font-weight: 800;
}
.cards-1{
    grid-area: a;
}
.cards-2{
    grid-area: b;
}
.cards-3{
    grid-area: c;
}
.cards-4{
    grid-area: d;
}
.cards-5{
    grid-area: e;
}
.cards-6{
    grid-area: f;
}
.trainer-details{
    position: absolute;
    top: 75%;
    right: 45%;
    width: 50%;
}
/* Footer style  */
.footer-container{
    color: white;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
}
.footer-content{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}
.footer-logo{
    width: 443px;
    height: 176px;
}
.footer-logo h1{
    font-size: 4.3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.footer-logo p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}
.footer-link{
    display: flex;
}
.footer-link h2{
    margin-bottom: 20px;
    margin-left: 35px;
}
.footer-link ul li{
    list-style: none;
    margin-bottom: 18px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-bottom{
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-bottom hr{
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 80%;
    margin-bottom: 40px;
}
